

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Hospital Bed Management System</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <!-- Bootstrap core CSS     -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/css/bootstrap.min.css">
  <link href="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/css/now-ui-kit.min.css?v1.2.0" rel="stylesheet"/>
  <link href="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/demo/demo.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  <style>
    .navbar .navbar-nav .nav-link:not(.btn) i.fa{
      font-size: 18px;
      position: relative;
      top: 3px;
      text-align: center;
      width: 21px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="style.css">


</head>

<body class="index-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent"color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <img src="logo.png" width="70" height="70">
                <a href="index.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Visit Our Home Page">Home</button></a>
                <a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Where To Find Us">Our Locations</button></a>
                <a href="index.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Contact Us Here">Contact Us</button></a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/Alkaneseries" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="d-lg-none d-xl-none">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/alkaneseries" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/samsonakala/" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="d-lg-none d-xl-none">Instagram</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<div class="buffer"-->
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="main">
            <div class="section section-basic">
                <div class="container text-center mt-5">
                    <h3 class="animate__animated animate__backInUp">Our Locations...</h3></a>
                    <div class="container">

                        <div><img class="image2" src="bk2.jpg"><h4><a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Book A Bedspace In Cologne">Cologne</button></a></h4></div>
                        <div><img class="image2" src="bk1.jpg"><h4><a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Book A Bedspace In Monchengladbach">Monchengladbach</button></a></h4></div>
                        <div><img class="image2" src="bk6.jpg"><h4><a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Book A Bedspace In Koblenz">Koblenz</button></a></h4></div>
                        <div><img class="image2" src="bk3.jpg"><h4><a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Book A Bedspace In Dusseldorf">Dusseldorf</button></a></h4></div>
                        <div><img class="image2" src="bk5.jpg"><h4><a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Book A Bedspace In Essen">Dortmund</button></a></h4></div>
                        <div><img class="image2" src="bk8.jpg"><h4><a href="hospitals.html"><button class="btn btn-primary btn-sm" rel="tooltip" title="Book A Bedspace In Dusseldorf">Essen</button></a></h4></div>
                    </div>  
                </div>
            </div>
            <footer class="footer" data-background-color="black">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">
                                    Sunflower Travels
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/samson-akala-a810188a/">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/samson-akala-a810188a/">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                    MIT License
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Designed by
                        <a href="https://www.linkedin.com/in/samson-akala-a810188a/" target="_blank">alkaneseries</a>. Using Now UI Kit By
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

    <!--   Core JS Files   -->
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/core/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/core/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/core/bootstrap.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/plugins/nouislider.min.js"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/plugins/bootstrap-datepicker.js"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="https://cdn.rawgit.com/creativetimofficial/now-ui-kit/2e8e665f/assets/js/now-ui-kit.js"></script>

    </html>

                